@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
}
body{
  background-color: black;
}

.App{
  margin: 15rem 0rem 0rem 17rem;
}

.App > h1{
  color: rgb(255, 166, 0)
}

.App > form{
  margin-top: 2rem;
}

.main{
  display: flex;
  flex-direction:column ;
}

.myform > input{  
  width: 20rem;
  height: 1.5rem;
  max-width: 200rem;
  margin-top:0.8rem ;
}

.myform > button{
  margin-top:0.8rem ;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  background-color: rgb(255, 166, 0);
  border: 0;
  font-weight: 600;
  border-radius: 10rem;
}

.heading{
  line-height: 2.1rem;
  color: white;
}

.myspan{
  color: rgb(255, 166, 0)

}